.svn*
*.svn-base
.DS_Store

*.tga
*.png
*.jpg
*.hdr
*.mip

*.radiance
*.visibility
*.transfer

*.blend
*.obj
*.pbrt

*.pgt
*.pgst
*.pgv
*.mpdt
*.pdt
*.npgt
*.o

*.sdf

Pbrt/scenes/
Java/bin/
archive/
Tasks
Osg/Media