.svn*
*.svn-base
.DS_Store

*.tga
*.png
*.radiance

*.blend
*.obj
*.pbrt
*.visibility
*.transfer
*.jpg
*.hdr

*.pgt
*.pgst
*.pgv
*.mpdt
*.pdt
*.npgt
*.o

*.bvh
*.pdt

Pbrt/scenes/
Java/bin/
archive/
Tasks
Osg/Media