.svn*
*.svn-base
.DS_Store

*.mip
*.visibility
*.transfer
*.pbrt

*.blend
*.obj

*.pgt
*.pgst
*.pgv
*.mpdt
*.npgt

*.o
*.sdf
*.opensdf

Models/hand/1000poses/
Models/hand/300 poses/
Pbrt/scenes/

ipch/
Release/OsgViewer.pdb
Osg/Release/
Osg/Debug/
Java/bin/

Tasks
archive/